body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #8893c0;
    margin: 0;
    color: #333;
}

header {
    background-color: #7a61c2;
    color: white;
    text-align: center;
    padding: 40px 20px;
}

.profile-photo {
    width: 130px;
    height: 130px;
    border-radius: 50%;
    border: 3px solid white;
    margin-bottom: 10px;
}

nav {
    background-color: #fff;
    text-align: center;
    padding: 15px 0;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

nav a {
    margin: 0 20px;
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

nav a:hover {
    color: #007BFF;
}

.container {
    max-width: 900px;
    margin: auto;
    padding: 20px;
    background: rgb(213, 208, 217);
    margin-top: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.05);
}

h1, h2, h3 {
    color: #1e1e1e;
}

ul {
    list-style: none;
    padding-left: 0;
}

ul li::before {
    content: "• ";
    color: #007BFF;
    font-weight: bold;
}

footer {
    background-color: #1e1e1e;
    color: white;
    text-align: center;
    padding: 20px;
    margin-top: 30px;
}
